* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: rgb(230, 227, 227);
  width: 100%;
  position: fixed;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

header img {
  width: 150px;
  margin: 0;
  padding: 0;
}

header a {
  color: #191c03;
}

header nav {
  display: flex;
  margin-right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  padding: 0 10px;
}

a:hover {
  opacity: 0.5;
}

a:visited, a:hover, a:active {
  color: inherit;
}

nav, ul {
  list-style: none;
  font-size: 20px;
}

.hero {
  margin-top: 150px;
  background-color: rgb(32, 30, 30);
  color: rgb(255, 255, 255);  
}

.holl-professores {
  display: flex;
  justify-content: space-evenly;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
}


.professor {
  display: flex;
  flex-direction: column;
  border: aliceblue 1px solid;
  width: 25%;
  margin: 4px;
  padding: 10px;
  align-items: center;
  transition: 1s;
  border-radius: 15px;
  background-color: rgb(87, 84, 89);
}

.professor:hover {
  width: 80%;
}

.img-professores {
  margin: 2px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.rede-social {
  font-size: 30px;
  margin: 5px;
  display: flex;
}

.professor p {
  text-align: center;
  margin: 15px;
}

.btn-prof {
  background-color: rgb(230, 227, 227);
  width: 120px;
  padding: 5px;
  border-radius: 7px;
}

.description-prof {
  margin: 60px 15px;
  padding: 15px;
}

.title {
  text-align: center;
  font-size: 20pt;
  margin: 30px;
  color: rgb(179, 175, 131);
}

.title-description {
  text-align: center;
  font-size: 30pt;
  margin: 10px;
  color: rgb(179, 175, 131);
}

.paragraph {
  text-align: justify;
  font-size: 15pt;
}





































footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 227, 227);
  padding: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

footer ul {
  display: flex;
  flex-basis: content;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li i {
  color: #2a2a2a;
  font-size: 25px;
}

footer p {
  color: #1d1d1d;
  text-align: center;
}

footer ul li:nth-child(1) {
  order: 4;
}

footer ul li:nth-child(2) {
  order: 3;
}

footer ul li:nth-child(3) {
  order: 2;
}

footer ul li:nth-child(4) {
  order: 1
}