* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: rgb(230, 227, 227);
  width: 100%;
  position: fixed;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

header img {
  width: 150px;
  margin: 0;
  padding: 0;
}

header a {
  color: #191c03;
}

header nav {
  flex-wrap: wrap;
  display: flex;
  margin-right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  padding: 0 10px;
}

a:hover {
  opacity: 0.5;
}

a:visited, a:hover, a:active {
  color: inherit;
}

nav, ul {
  list-style: none;
  font-size: 20px;
}

.hero {
  background-image: url(../images/foto-hero.jpg);
  background-size: cover;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 15px;
  color: rgb(228, 217, 156);
}

.hero h3 {
  width: 800px;
  font-size: 17px;
  margin-bottom: 15px;
  color: rgb(122, 118, 118);
}

.know-the-hotel {
  padding: 100px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 227, 227);
}

.know-the-hotel h3 {
  font-size: 25px;
  margin-bottom: 35px;
  text-align: center;
  color: rgb(25, 28, 3);
}

.know-the-hotel p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: #191c03;
}

.know-the-hotel hr {
  width: 200px;
  height: 2px;
  margin-bottom: 70px;
  border: none;
  background-color: #191c03;
}

.holl {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.holl h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(25, 28, 3);
}
.know-the-hotel .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.know-the-hotel .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.know-the-hotel .grid li.small {
  flex-basis: 40%;
}

.know-the-hotel .grid li.large {
  flex-basis: 60%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 227, 227);
  padding: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

footer ul {
  display: flex;
  flex-basis: content;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li i {
  color: #2a2a2a;
  font-size: 25px;
}

footer p {
  color: #1d1d1d;
  text-align: center;
}

footer ul li:nth-child(1) {
  order: 4;
}

footer ul li:nth-child(2) {
  order: 3;
}

footer ul li:nth-child(3) {
  order: 2;
}

footer ul li:nth-child(4) {
  order: 1
}

@media screen and (max-width: px) {
  header {
    display: flex;
    flex-direction: column;
  }

  #nav a {
    font-size: 15px;
  }

  header {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero h3 {
    font-size: 40%;
  }

  .know-the-hotel {
    padding: 100px 10px;
  }

  .know-the-hotel .grid li {
    padding: 10px;
  }

  .know-the-hotel .grid li.small {
    flex-basis: 100%;
  }
  
  .know-the-hotel .grid li.large {
    flex-basis: 100%;
  }

  .features .grid {
    flex-direction: column;
  }

  .newsletter button {
    margin-top: 10px;
  }



  footer ul li i {
    font-size: 40px;
  }
}